:root {
  --background: #ededed;
  --foreground: #1F1D2B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F1D2B;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.admin-bg {
  background: #fff !important;
}

.admin-header {
  background-color: #1F1D2B !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
